# NoctraOS BIOS boot menu theme. Spliced in before "INCLUDE menuentries.cfg"
# by iso/build-noctraos-iso.sh; later MENU settings override the stock ones.
MENU BACKGROUND splash.png
MENU COLOR screen	* #ffbebebe #00000000 none
MENU COLOR title	* #ffe68e0d #00000000 none
MENU COLOR border	* #00000000 #00000000 none
MENU COLOR unsel	* #ffbebebe #00000000 none
MENU COLOR hotkey	* #ffe68e0d #00000000 none
MENU COLOR sel		* #ff121212 #ffe68e0d none
MENU COLOR hotsel	* #ff121212 #ffe68e0d none
MENU COLOR cmdmark	* #ff8a8a8d #00000000 none
MENU COLOR cmdline	* #ffbebebe #00000000 none
MENU COLOR tabmsg	* #ff8a8a8d #00000000 none
MENU COLOR timeout	* #ffe68e0d #00000000 none
MENU COLOR timeout_msg	* #ff8a8a8d #00000000 none
MENU COLOR help		* #ff8a8a8d #00000000 none
MENU VSHIFT 6
MENU HSHIFT 5
MENU TABMSG Enter starts the highlighted entry, Tab edits it
